.row {
    display: inline-flex;
    flex: 1;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    justify-self: center;
}

.cell {
    aspect-ratio: 1 / 1;
    width: 100px;
    flex: auto;
    margin: 0px;
    padding: 0;
    border: black;
    border-style: solid;
    border-width: 1px;
}

#row1 #row3 {
    background-color: gray;
}

#row2 #row4 {
    background-color: blue;
}

.header {
    display: inline-flex;
    justify-content: center;
    width: 50%;
}

.newGrid{
    width: 20%;
    margin: 16px;
}

.container {
    width: 500px;
}